/* Add your custom styles here */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #081a20;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #081a20;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

button {
    background-color: #629183;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1d716f;
}

/* Additional styles for layout */
